/*BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; COLOR: #505457; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; 
} */
/*H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none; 
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}*/
/*
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}*/
/*#all {
	PADDING-LEFT: 41px; BACKGROUND: url(../images/side-left.jpg) no-repeat left top; MARGIN: 0px auto; WIDTH: 800px
}
#wrapper {
	BACKGROUND: url(../images/side-right.jpg) no-repeat right top
}
#header {
	Z-INDEX: 99; BACKGROUND: url(../images/header-bg.jpg); WIDTH: 760px
}
#header H1 {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#header .moduletable_sys UL {
	RIGHT: 40px; WIDTH: 210px; POSITION: absolute; TOP: 5px
}
#header .moduletable_sys UL LI {
	DISPLAY: inline; PADDING-LEFT: 0.5em; FONT-SIZE: 10px; MARGIN-LEFT: 0.5em; BORDER-LEFT: #666 1px solid
}
#header .moduletable_sys UL LI:unknown {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px; BORDER-LEFT-STYLE: none
}
#header .moduletable_sys UL A {
	COLOR:#666
}
#header FORM {
	RIGHT: 43px; WIDTH: 210px; POSITION: absolute; TOP: 24px
}
#header FORM .textbox {
	WIDTH: 160px
}
#header FORM .submit {
	POSITION: relative; TOP: 6px
}
#header .moduletable_mainmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/bg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 31px
}
#header .moduletable_mainmenu UL A {
	DISPLAY: block; PADDING-BOTTOM: 8px; TEXT-TRANSFORM: uppercase; COLOR: white
}
#header .moduletable_mainmenu UL LI {
	PADDING-RIGHT: 0.85em; PADDING-LEFT: 0.85em; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 9px; POSITION: relative
}
#header .moduletable_mainmenu UL LI UL {
	LEFT: -999em; WIDTH: 25em; POSITION: absolute
}
#header .moduletable_mainmenu UL LI:hover UL {
	LEFT: 0px; WIDTH: 15em; POSITION: absolute
}
#header .moduletable_mainmenu UL LI UL LI UL LI {
	WIDTH: 15em
}
#header .moduletable_mainmenu UL LI UL LI {
	FONT-SIZE: 11px; BACKGROUND: #ced7ef; FLOAT: none; BORDER-BOTTOM: white 2px solid
}
#header .moduletable_mainmenu UL LI:hover {
	BACKGROUND: #ced7ef
}
#header .moduletable_mainmenu UL LI:hover A {
	COLOR: #1679bc
}
#header .moduletable_mainmenu UL LI UL LI:hover {
	BACKGROUND: #fede76
}
#header .moduletable_mainmenu UL LI:hover UL LI A {
	COLOR: #666
}
#header .moduletable_mainmenu LI:hover UL UL {
	LEFT: -999em
}
#header .moduletable_mainmenu LI:hover UL UL UL {
	LEFT: -999em
}
#header .moduletable_mainmenu LI.sfhover UL UL {
	LEFT: -999em
}
#header .moduletable_mainmenu LI.sfhover UL UL UL {
	LEFT: -999em
}
#header .moduletable_mainmenu LI:hover UL {
	LEFT: auto
}
#header .moduletable_mainmenu LI LI:hover UL {
	LEFT: auto
}
#header .moduletable_mainmenu LI LI LI:hover UL {
	LEFT: auto
}
#header .moduletable_mainmenu LI.sfhover UL {
	LEFT: auto
}
#header .moduletable_mainmenu LI LI.sfhover UL {
	LEFT: auto
}
#header .moduletable_mainmenu LI LI LI.sfhover UL {
	LEFT: auto
}
#header .moduletable_mainmenu LI UL UL {
	MARGIN: -2.7em 0px 0px 17em
}
#header .menu {
	PADDING-LEFT: 1em; BACKGROUND: white; PADDING-BOTTOM: 0px; HEIGHT: 32px
}
#header .banner {
	BORDER-BOTTOM: #3563c1 8px solid
}
#header .menu LI {
	PADDING-RIGHT: 1em; FONT-SIZE: 11px; BACKGROUND: url(../images/topmenu-sep.jpg) no-repeat right top; FLOAT: left; TEXT-TRANSFORM: uppercase; MARGIN-RIGHT: 1em; PADDING-TOP: 8px; HEIGHT: 24px
}
#header .menu LI:unknown {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-RIGHT: 0px
}
#header .menu LI A {
	COLOR: #888
}
#submenu {
	WIDTH: 760px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
#submenu UL#mainlevelsubmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; PADDING-TOP: 0px
}
#submenu UL#mainlevelsubmenu LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#submenu UL#mainlevelsubmenu LI IMG {
	MARGIN: 0px; VERTICAL-ALIGN: middle
}
#submenu UL#mainlevelsubmenu LI A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 0.7em; PADDING-BOTTOM: 10px; COLOR: #666666; LINE-HEIGHT: 30px; PADDING-TOP: 0px
}
#main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 10; BACKGROUND: url(../images/corn_left.gif) #ffffff no-repeat left bottom; PADDING-BOTTOM: 17px; WIDTH: 760px; PADDING-TOP: 10px
}
#main_frontpage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 10; BACKGROUND: url(../images/corn_left.gif) #6291c3 no-repeat left bottom; PADDING-BOTTOM: 17px; WIDTH: 760px; PADDING-TOP: 10px
}
#main DIV.content_in {
	BACKGROUND: url(../images/corn_right.gif) no-repeat right bottom; PADDING-BOTTOM: 15px; MARGIN: 0px 0px -17px
}
DIV.content_in_frontpage {
	BACKGROUND: url(../images/corn_right.gif) no-repeat right bottom; PADDING-BOTTOM: 15px; MARGIN: 0px 0px -17px
}
.moduletable_image {
	MARGIN-BOTTOM: 1em
}
.moduletable_images H3 {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 12px; BACKGROUND: url(../images/featured1-header.jpg) white no-repeat; PADDING-BOTTOM: 1.2em; COLOR: white; PADDING-TOP: 1em
}
.moduletable_newsbox {
	BACKGROUND: url(../images/featured1-bottom.jpg) #bcd0eb no-repeat 50% bottom; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 193px
}
.moduletable_newsbox H3 {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 12px; BACKGROUND: url(../images/featured1-header.jpg) white no-repeat; PADDING-BOTTOM: 1.2em; COLOR: white; PADDING-TOP: 1em
}
.moduletable_newsbox H4 {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px 7px; COLOR: #666; LINE-HEIGHT: 20px; PADDING-TOP: 0px
}
.moduletable_newsbox P {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FONT-SIZE: 10px; BACKGROUND: url(../images/star_lp.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px 7px; COLOR: #666; LINE-HEIGHT: 20px; PADDING-TOP: 0px
}
.moduletable_newsbox A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 0px
}
.moduletable_newsbox DIV#login {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 11px; PADDING-BOTTOM: 1em; COLOR: #535151; PADDING-TOP: 1em
}
.moduletable_newsbox DIV#login .inputbox {
	FONT-SIZE: 11px; WIDTH: 120px; COLOR: #535151
}
.moduletable_newsbox DIV#login A {
	DISPLAY: inline; FONT-SIZE: 0.96em; LETTER-SPACING: 1px
}
.moduletable_newsbox .button {
	MARGIN-TOP: 2px; DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: url(../images/btn_small_y.gif) no-repeat; WIDTH: 85px; CURSOR: pointer; COLOR: #525252; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 33px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.moduletable_newsbox .button_blue {
	DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: url(../images/btn_small_blue.gif) no-repeat; MARGIN: 0px; WIDTH: 96px; CURSOR: pointer; COLOR: #ffffff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 28px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#right .moduletable_newsbox A {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.moduletable_newsbox P {
	MARGIN-TOP: 0px
}
.sunbelt_newsbox LABEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sunbelt_newsbox SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 1px 0px 4px; COLOR: #666666; PADDING-TOP: 0px
}
.sunbelt_newsbox INPUT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; MARGIN: 1px 0px 4px; COLOR: #666666; PADDING-TOP: 0px
}
.sunbelt_newsbox BUTTON.submit {
	MARGIN-TOP: 2px; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; BACKGROUND: url(../images/search-btn.gif) no-repeat; WIDTH: 97px; CURSOR: pointer; COLOR: #525252; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 33px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
DIV.sunbelt_newsbox {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.moduletable_whoweare {
	FLOAT: left; MARGIN: 0px 20px
}
.moduletable_whoweare H3 {
	FONT-SIZE: 14px; COLOR: #0060b6
}
.moduletable_whoweare P {
	FONT-SIZE: 12px; COLOR: #8c8c8c; TEXT-ALIGN: justify
}
.moduletable_search {
	BACKGROUND: url(../images/search-bottom.jpg) #ced7ef no-repeat 50% bottom; FLOAT: left; WIDTH: 238px; POSITION: relative; HEIGHT: 260px
}
.moduletable_search P {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.5em; COLOR: #666; PADDING-TOP: 0px
}
.moduletable_search H3 {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 12px; BACKGROUND: url(../images/search-header.jpg) white no-repeat; PADDING-BOTTOM: 1.2em; COLOR: white; PADDING-TOP: 1em
}
.moduletable_search LABEL {
	DISPLAY: block; FONT-SIZE: 10px; COLOR: #666
}
.moduletable_search OL {
	PADDING-TOP: 0.5em
}
.moduletable_search LI {
	PADDING-LEFT: 0.8em; MARGIN-BOTTOM: 0.5em
}
.moduletable_search .submit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/search-button-bg.jpg) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 12px; WIDTH: 85px; COLOR: white; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; TOP: -6px; HEIGHT: 30px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.moduletable_search A {
	FONT-SIZE: 10px; RIGHT: 20px; WIDTH: 100px; COLOR: #666; BOTTOM: 10px; POSITION: absolute
}
.moduletable_featured2 {
	BACKGROUND: url(../images/featured2-bg.jpg) no-repeat 10px 1px; FLOAT: left; MARGIN: 0px 15px; WIDTH: 210px; HEIGHT: 100px
}
.moduletable_featured2 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 50px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: black; PADDING-TOP: 18px; HEIGHT: 25px
}
.moduletable_featured2 P {
	PADDING-RIGHT: 5px; MARGIN-TOP: -6px; PADDING-LEFT: 50px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px
}
.signforemail H3 {
	BACKGROUND: url(../images/featured2-email.jpg) no-repeat
}
.openanoffice H3 {
	BACKGROUND: url(../images/featured2-home.jpg) no-repeat
}
.howto H3 {
	BACKGROUND: url(../images/featured2-folder.jpg) no-repeat
}
.clear {
	CLEAR: both
}
#content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #0060b6
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #0060b6
}
#content .contentheading {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #0060b6
}
#content P {
	FONT-SIZE: 12px; COLOR: #505457
}
#right {
	DISPLAY: inline; FLOAT: right; MARGIN: 25px 10px 0px 0px; WIDTH: 200px
}
#right .moduletable_newsbox {
	MARGIN-BOTTOM: 1em
}
#right .moduletable_find_office {
	MARGIN-BOTTOM: 1em
}
.moduletable_quote {
	PADDING-RIGHT: 2em; PADDING-LEFT: 3.5em; BACKGROUND: url(../images/quote-bg.jpg) no-repeat; PADDING-BOTTOM: 1em; PADDING-TOP: 10px
}
#content .moduletable_quote P {
	COLOR: #666
}
#footer {
	FONT-SIZE: 10px; MARGIN-BOTTOM: 2em; COLOR: white; PADDING-TOP: 1em; POSITION: relative
}
#footer P {
	LEFT: 0px; MARGIN: 0px; POSITION: absolute; TOP: 5px
}
#footer UL {
	RIGHT: 49px; POSITION: absolute; TOP: 5px
}
#footer UL LI {
	DISPLAY: inline; PADDING-LEFT: 1em; MARGIN-LEFT: 0.6em; BORDER-LEFT: white 1px solid
}
#footer UL LI:unknown {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#footer UL LI A {
	COLOR: white
}
#title_header {
	PADDING-LEFT: 29px; BACKGROUND: url(../images/header_left.gif) no-repeat left 50%; MARGIN: 12px 0px 6px; TEXT-ALIGN: left
}
#title_header DIV {
	BACKGROUND: url(../images/header_right.gif) no-repeat right 50%; COLOR: #525252
}
#title_header H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/header_bg.gif); PADDING-BOTTOM: 0px; COLOR: #ffffff; LINE-HEIGHT: 37px; MARGIN-RIGHT: 29px; PADDING-TOP: 0px
}
#title_header H3.search {
	PADDING-LEFT: 30px; BACKGROUND: url(../images/header_bg.gif); MARGIN: 0px; COLOR: #ffffff; LINE-HEIGHT: 37px
}
#title_header H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/header_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 29px 0px 0px; COLOR: #ffffff; LINE-HEIGHT: 37px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#content_sky {
	PADDING-LEFT: 29px; FONT-SIZE: 0.86em; BACKGROUND: url(../images/footer_left_sky.gif) #ced7ef no-repeat left bottom; MARGIN-BOTTOM: 6px; VERTICAL-ALIGN: top; COLOR: #525252
}
#content_sky DIV.inner {
	PADDING-RIGHT: 29px; PADDING-LEFT: 0px; BACKGROUND: url(../images/footer_right_sky.gif) #ced7ef no-repeat right bottom; PADDING-BOTTOM: 25px; VERTICAL-ALIGN: top; PADDING-TOP: 25px; TEXT-ALIGN: left
}
#content_sky DIV.inner TH {
	COLOR: #003d8b; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#content_sky DIV.inner TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.94em; PADDING-BOTTOM: 5px; COLOR: #525252; PADDING-TOP: 5px; LETTER-SPACING: 0.02em
}
#content_sky DIV.inner TABLE.search_result TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content_sky DIV.inner TABLE.flags TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #0048a4; PADDING-TOP: 0px
}
#content_sky HR {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
#content_sky .search A {
	COLOR: #666666; LINE-HEIGHT: 1.5em
}
#content_sky .search A:hover {
	COLOR: #0048a4
}
.bLogout {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; MARGIN: -4px; CURSOR: pointer; COLOR: #1f5a9a; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
.button_b {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; BACKGROUND: url(../images/search_y.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 156px; CURSOR: pointer; COLOR: #525252; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 39px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.button_c {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; BACKGROUND: url(../images/search_yc.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 156px; CURSOR: pointer; COLOR: #525252; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 39px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.button_h {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/btn_go.gif) no-repeat right bottom; MARGIN: 0px 5px; WIDTH: 90px; CURSOR: pointer; COLOR: #ffffff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 19px; BORDER-BOTTOM-STYLE: none
}
TD.spacer_search {
	BACKGROUND: url(../images/1.gif) repeat-x; HEIGHT: 3px
}
SPAN.button_nav {
	PADDING-RIGHT: 35px; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; BACKGROUND: url(../images/search-btn.gif) no-repeat; PADDING-BOTTOM: 10px; COLOR: #525252; BORDER-TOP-STYLE: none; PADDING-TOP: 10px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
/* */
/*
SPAN.pagenav A:link {
	PADDING-RIGHT: 35px; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; BACKGROUND: url(../images/search-btn.gif) no-repeat; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #525252; BORDER-TOP-STYLE: none; PADDING-TOP: 10px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
SPAN.pagenav A:visited {
	PADDING-RIGHT: 35px; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; BACKGROUND: url(../images/search-btn.gif) no-repeat; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #525252; BORDER-TOP-STYLE: none; PADDING-TOP: 10px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
SPAN.pagenav A:hover {
	PADDING-RIGHT: 35px; PADDING-LEFT: 35px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; BACKGROUND: url(../images/search-btn.gif) no-repeat; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #525252; BORDER-TOP-STYLE: none; PADDING-TOP: 10px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; TEXT-DECORATION: underline; BORDER-BOTTOM-STYLE: none
}
#navigation {
	MARGIN-TOP: 25px; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
#navigation A {
	COLOR: #252525
}
#navigation A:hover {
	COLOR: #1f5a9a
}
#navigation SPAN.pagenav {
	FONT-WEIGHT: bold; COLOR: #1f5a9a; TEXT-DECORATION: underline
}
#content_yellow {
	PADDING-LEFT: 29px; FONT-SIZE: 0.86em; BACKGROUND: url(../images/footer_left_yellow.gif) #ffde7b no-repeat left bottom; MARGIN-BOTTOM: 6px; VERTICAL-ALIGN: top; COLOR: #525252; TEXT-ALIGN: left
}
#content_yellow DIV.inner {
	PADDING-RIGHT: 29px; PADDING-LEFT: 0px; BACKGROUND: url(../images/footer_right_yellow.gif) #ffde7b no-repeat right bottom; PADDING-BOTTOM: 25px; VERTICAL-ALIGN: top; PADDING-TOP: 25px; TEXT-ALIGN: left
}
#content_yellow .button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1em; BACKGROUND: url(../images/search-button-bg_y.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 95px; CURSOR: pointer; COLOR: #525252; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 33px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#content_yellow .button_large {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1em; BACKGROUND: url(../images/btn_large.gif) no-repeat; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: 155px; CURSOR: pointer; COLOR: #525252; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 33px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#small_box {
	MARGIN-TOP: 12px; PADDING-LEFT: 11px; BACKGROUND: url(../images/top_corn_l_s.gif) #ced7ef no-repeat left top; TEXT-ALIGN: justify
}

/*
#small_box .header {
	BACKGROUND: url(../images/top_corn_r_s.gif) #ced7ef no-repeat right 50%; HEIGHT: 9px
}
#small_box_white .header {
	BACKGROUND: url(../images/top_corn_r_s.gif) #ced7ef no-repeat right 50%; HEIGHT: 9px
}
#small_box .content {
	PADDING-RIGHT: 11px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ced7ef; TEXT-ALIGN: center
}
#small_box .content_br {
	PADDING-RIGHT: 11px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BACKGROUND-COLOR: #ced7ef; TEXT-ALIGN: center
}
#small_box .footer {
	BACKGROUND: url(../images/bottom_corn_l_s.gif) #ced7ef no-repeat left bottom; MARGIN-LEFT: -11px
}
#small_box .footer DIV {
	BACKGROUND: url(../images/bottom_corn_r_s.gif) no-repeat right bottom; HEIGHT: 10px
}
#small_box_white {
	PADDING-LEFT: 11px; BACKGROUND: url(../images/top_corn_l_s_w.gif) white no-repeat left top
}
#small_box_white .header {
	BACKGROUND: url(../images/top_corn_r_s_w.gif) no-repeat right 50%; HEIGHT: 9px
}
#small_box_white .content {
	PADDING-RIGHT: 11px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#small_box_white .content_br {
	PADDING-RIGHT: 11px; PADDING-LEFT: 0px; PADDING-BOTTOM: 52px; PADDING-TOP: 52px; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
#small_box_white .footer {
	BACKGROUND: url(../images/bottom_corn_l_s_w.gif) no-repeat left bottom; MARGIN-LEFT: -11px
}
#small_box_white .footer DIV {
	BACKGROUND: url(../images/bottom_corn_r_s_w.gif) no-repeat right bottom; HEIGHT: 10px
}
A.browse_bsn:link {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/btn_brwn_l.gif) no-repeat; MARGIN: 0px auto; WIDTH: 200px; COLOR: #ffffff; LINE-HEIGHT: 35px; HEIGHT: 35px; TEXT-ALIGN: center
}
A.browse_bsn:visited {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/btn_brwn_l.gif) no-repeat; MARGIN: 0px auto; WIDTH: 200px; COLOR: #ffffff; LINE-HEIGHT: 35px; HEIGHT: 35px; TEXT-ALIGN: center
}
A.browse_s:link {
	MARGIN-TOP: 5px; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/btn_brwn_s.gif) no-repeat; WIDTH: 125px; COLOR: #ffffff; LINE-HEIGHT: 29px; HEIGHT: 29px; TEXT-ALIGN: center
}
A.browse_s:visited {
	MARGIN-TOP: 5px; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(../images/btn_brwn_s.gif) no-repeat; WIDTH: 125px; COLOR: #ffffff; LINE-HEIGHT: 29px; HEIGHT: 29px; TEXT-ALIGN: center
}
.yahoo {
	DISPLAY: block; BACKGROUND: url(../images/yahoo.gif); MARGIN: 0px auto; WIDTH: 179px; CURSOR: pointer; HEIGHT: 28px
}
.error {
	FONT-WEIGHT: bold; COLOR: #525252
}
A:link {
	COLOR: #003d8b; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003d8b; TEXT-DECORATION: none
}
A:hover {
	COLOR: #003d8b; TEXT-DECORATION: underline
}
A.brown:link {
	FONT-SIZE: 1em; COLOR: #535353; TEXT-DECORATION: none
}
A.brown:visited {
	FONT-SIZE: 1em; COLOR: #535353; TEXT-DECORATION: none
}
A.brown:hover {
	FONT-SIZE: 1em; COLOR: #003d8b; TEXT-DECORATION: underline
}
.componentheading {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; COLOR: #003d8b; LINE-HEIGHT: 1.5em
}
.blue {
	COLOR: #003d8b
}
H3.dark_blue {
	PADDING-LEFT: 5px; FONT-SIZE: 1.2em; COLOR: #003a8c; LINE-HEIGHT: 0; WHITE-SPACE: nowrap
}
.photo-pad {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 0px; PADDING-BOTTOM: 1em; PADDING-TOP: 1.5em
}
H4 {
	FONT-SIZE: 1em
}
SPAN.red {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
H3.gold {
	FONT-SIZE: 0.98em; COLOR: #003d8b
}
#bunss_catg SELECT {
	WIDTH: 300px
}
.white_sept {
	BACKGROUND: url(../images/white_sept.gif); HEIGHT: 15px
}
.tip-tip {
	Z-INDEX: 13000; WIDTH: 130px; COLOR: #000
}
.tip-title {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: white 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 15px; BACKGROUND: #2880c2; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: white 1px solid; COLOR: white; PADDING-TOP: 8px; BORDER-BOTTOM: white 1px solid
}
.tip-text {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: white 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 11px; BACKGROUND: #ced7ef; PADDING-BOTTOM: 8px; BORDER-LEFT: white 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: white 1px solid
}*/
/* Main body */
.toggler {
FONT-SIZE: 11px; BACKGROUND:none;CURSOR: pointer; COLOR: #222;PADDING-RIGHT: 5px;PADDING-BOTTOM: 2px; MARGIN: 0px;PADDING-TOP: 1px;PADDING-LEFT: 1px
/*	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f5f5f5 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND:none; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #f5f5f5 1px solid; CURSOR: pointer; COLOR: #222; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; FONT-FAMILY:Arial, Helvetica, sans-serif, sans-serif*/
}
/*
.element {
	
}
.element P {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px
}
.float-right {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: right; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; text-style: italic
}
#footer_menu_main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 20px; HEIGHT: auto
}
#footer_menu_area {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 615px; PADDING-TOP: 0px; HEIGHT: auto; TEXT-ALIGN: center
}
A.mainlevel_footer_menu:link {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 6px; DISPLAY: inline; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #7f8487; LINE-HEIGHT: 15px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.mainlevel_footer_menu:visited {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 6px; DISPLAY: inline; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #7f8487; LINE-HEIGHT: 15px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.mainlevel_footer_menu:hover {
	TEXT-DECORATION: underline
}
#copyright {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: auto; WIDTH: 350px; COLOR: #7f8487; PADDING-TOP: 17px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: auto; TEXT-ALIGN: center
}
#copyright A {
	COLOR: #7f8487
}
#copyright A.visited {
	COLOR: #7f8487
}
SPAN.breadcrumbs {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 20px 0px 0px 10px; COLOR: #3d5169
}
SPAN.breadcrumbs A.pathway:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #535353; PADDING-TOP: 0px
}
A.pathway:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #535353; PADDING-TOP: 0px
}
SPAN.breadcrumbs A.pathway:hover {
	TEXT-DECORATION: underline
}
#banner_randam {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 760px; PADDING-TOP: 7px; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
#seller_banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; WIDTH: 738px; PADDING-TOP: 0px; HEIGHT: 103px
}
#about_banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: auto; WIDTH: 738px; PADDING-TOP: 0px; HEIGHT: 103px
}
.moduletable_find_office {
	BACKGROUND: url(../images/find_an_office_bot.jpg) #fed03b no-repeat 50% bottom; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 193px
}
.moduletable_find_office H3 {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 12px; BACKGROUND: url(../images/featured1-header.jpg) white no-repeat; PADDING-BOTTOM: 1.2em; COLOR: white; PADDING-TOP: 1em
}
.moduletable_find_office TABLE.pad12 {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 1em 0px 0.5em; COLOR: #666; PADDING-TOP: 0px
}
.moduletable_find_office TABLE.pad12 .inputbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 150px; PADDING-TOP: 0px; HEIGHT: 18px
}
.moduletable_find_office TABLE.pad12 .button {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/btn_search_yel.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 30px; WIDTH: 97px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 35px; BORDER-BOTTOM-STYLE: none
}
.browse_bsn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/btn_browse_bsn.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; WIDTH: 155px; CURSOR: pointer; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 28px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#logo_text_inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: -27px 0px 0px 95px; WIDTH: 240px; COLOR: #336699; PADDING-TOP: 0px; FONT-FAMILY: Times, Verdana, Arial, Helvetica, sans-serif; POSITION: relative; TEXT-ALIGN: left
}
#logo_text_inner_right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; LEFT: 505px; PADDING-BOTTOM: 0px; WIDTH: 250px; COLOR: #336699; PADDING-TOP: 0px; POSITION: relative; TOP: -35px; TEXT-ALIGN: right
}
TD.content-center {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4b5561; TEXT-DECORATION: none
}
TD.section-title2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4b5561; TEXT-DECORATION: none
}
TD.top-border {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #535353; TEXT-DECORATION: none
}
.rowclasseven {
	BACKGROUND-COLOR: #dfdfdd
}
.rowclassodd {
	BACKGROUND-COLOR: #bcd0eb
}
.button_send {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/btn_go.jpg) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 58px; CURSOR: pointer; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 34px; BORDER-BOTTOM-STYLE: none
}
.franchise_search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.transButton {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(../images/star_bg_blue.jpg) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 170px; CURSOR: pointer; COLOR: #ffffff; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 23px; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
#my_acc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#my_acc A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(../images/star_bullet.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#my_acc A:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(../images/star_bullet.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#my_acc A:hover {
	TEXT-DECORATION: underline
}
TD.buttonheading IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#find_office {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: auto
}
#business_cat {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; WIDTH: 281px; PADDING-TOP: 0px; HEIGHT: auto
}
.seach_business_bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/bg_search_box.gif) no-repeat left bottom; PADDING-BOTTOM: 14px; MARGIN: 0px; PADDING-TOP: 0px
}
.seach_business_bg1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/bg_search_box.gif) no-repeat right bottom; PADDING-BOTTOM: 14px; MARGIN: 0px; PADDING-TOP: 0px
}
.text_white {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.text_blue {
	FONT-SIZE: 10px; COLOR: #2c5790; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.text_blue A {
	FONT-SIZE: 10px; COLOR: #2c5790; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.text_blue A:hover {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
#business_locations {
	MARGIN-LEFT: 10px; WIDTH: 90%; HEIGHT: auto
}
#business_locations UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 17px 0px 0px; PADDING-TOP: 0px
}
#business_locations A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/star1.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#business_locations UL LI A:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#business_locations A:visited {
	PADDING-LEFT: 20px; FONT-SIZE: 10px; MARGIN-LEFT: 10px; TEXT-DECORATION: none
}
#business_locations A:hover {
	PADDING-LEFT: 20px; MARGIN-LEFT: 10px; TEXT-DECORATION: underline
}
#business_catogries {
	MARGIN-TOP: 18px; TEXT-DECORATION: none
}
#business_catogries A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/star1.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#business_catogries A:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/star1.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
#business_catogries A:hover {
	TEXT-DECORATION: underline
}
#business_sale {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 15px; WIDTH: 250px; PADDING-TOP: 0px
}
#business_sale FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#business_sale TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 250px; PADDING-TOP: 0px
}
.list_box {
	BORDER-RIGHT: #93989e 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #93989e 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #93989e 1px solid; COLOR: #4a6e9c; PADDING-TOP: 0px; BORDER-BOTTOM: #93989e 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.textfield {
	BORDER-RIGHT: #93989e 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #93989e 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #ffffff; BORDER-LEFT: #93989e 1px solid; COLOR: #4a6e9c; BORDER-BOTTOM: #93989e 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#frontpage {
	FLOAT: left; MARGIN-LEFT: 15px
}
#frontpage_right {
	FLOAT: right; MARGIN: 0px 15px; WIDTH: 55%
}
#frontpage_right_ie6 {
	RIGHT: 0px; WIDTH: 40%; POSITION: relative; TOP: 0px
}
#featured {
	PADDING-RIGHT: 10px; MARGIN-TOP: 14px; PADDING-LEFT: 0px; BACKGROUND: url(../images/bg_search_box_wide.gif) #5080bc no-repeat left bottom; PADDING-BOTTOM: 10px; COLOR: white; PADDING-TOP: 0px
}
#featured .featured_interior {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
#featured A {
	FONT-SIZE: 12pt; COLOR: #ffcc66
}
#officeinfo {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; COLOR: #5080bc; PADDING-TOP: 10px; BACKGROUND-COLOR: white
}
#officeinfo P {
	TEXT-ALIGN: justify
}
.sblogo_text {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; LEFT: -5px; COLOR: #336699; FONT-FAMILY: Times, Verdana, Arial, Helvetica, sans-serif; POSITION: relative; TOP: 90px; TEXT-ALIGN: center
}
#sblogo {
	FONT-SIZE: 10px; LEFT: 50px; WIDTH: 200px; COLOR: white; POSITION: relative; TOP: -60px; TEXT-ALIGN: center
}
#sblogo_custom {
	WIDTH: 280px; TEXT-ALIGN: center
}
.heading {
	FONT: 15px Verdana, Arial, Helvetica, sans-serif; COLOR: #005cab; font-weight:bold
}
.LoginList {
	FLOAT: left; MARGIN: 10px 0px 0px 20px; FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; WIDTH: 20%; COLOR: #666666; TEXT-ALIGN: center
}
.LoginList A:link {
	COLOR: #666666
}
.LoginList A {
	COLOR: #666666
}
.LoginList A:visited {
	COLOR: #666666
}
.LoginList A:hover {
	TEXT-DECORATION: none
}
.AdminToolAccount A:hover {
	TEXT-DECORATION: none
}
.mrtp15 {
	MARGIN-TOP: 15px
}
.AdminToolAccount A:link {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; COLOR: #666666
}
.AdminToolAccount A {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; COLOR: #666666
}
.AdminToolAccount A:visited {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; COLOR: #666666
}
.AdminToolAccount TD {
	VERTICAL-ALIGN: middle; HEIGHT: 35px
}
.savedEmailAlert {
	FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; COLOR: #666666
}
.savedEmailAlert IMG {
	MARGIN: 0px 0px 0px 2px; VERTICAL-ALIGN: middle
}
.refineSearch {
	FLOAT: left; WIDTH: 49%
}
.SaveRefineSearch {
	PADDING-RIGHT: 40px; PADDING-LEFT: 30px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 180px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.savesearch {
	MARGIN: 0px auto 15px; WIDTH: 115px
}
.office_listings {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
