@charset "utf-8";

#conent{ clear:both; padding:4px 0 0 0;}
	.con{ padding:0 0 0 0; width:975px;}
	.con h1{padding:0 0 23px 0;}
	.con h2{padding:0 0 11px 0; color:#69812f; /*font-weight:bold;*/ font-family:"新細明體",Arial, Helvetica, sans-serif; font-size:15px;}
	.con p{padding:0 0 25px 0; font-family:"新細明體",Arial, Helvetica, sans-serif; color:#5d5d5d; font-size:15px; /*font-weight:bold;*/ font-weight:normal; text-align:justify; line-height:23px;}
	