vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|23 Aug 2015 15:57:00 -0000
vti_author:SR|Hinckley-PC\\Hinckley
vti_modifiedby:SR|Hinckley-PC\\Hinckley
vti_nexttolasttimemodified:TW|23 Aug 2015 15:57:00 -0000
vti_timecreated:TR|23 Aug 2015 15:59:04 -0000
vti_cacheddtm:TX|23 Aug 2015 15:59:06 -0000
vti_filesize:IR|23347
vti_cachedlinkinfo:VX|S|../images/btn2.gif S|../images/btn1.gif S|../images/btn4_over.gif S|../images/list_point.gif S|../images/list_point.gif S|../images/blue-arr.png S|../images/line.gif S|../images/right-arr.png S|../images/dd-nav-arrs.png
vti_cachedsvcrellinks:VX|FSUS|新資料夾/surgical/images/btn2.gif FSUS|新資料夾/surgical/images/btn1.gif FSUS|新資料夾/surgical/images/btn4_over.gif FSUS|新資料夾/surgical/images/list_point.gif FSUS|新資料夾/surgical/images/list_point.gif NSUS|新資料夾/surgical/images/blue-arr.png FSUS|新資料夾/surgical/images/line.gif FSUS|新資料夾/surgical/images/right-arr.png FSUS|新資料夾/surgical/images/dd-nav-arrs.png
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|新資料夾/surgical/tc/ref.html 新資料夾/surgical/tc/cause.html 新資料夾/surgical/tc/cause2.html 新資料夾/surgical/tc/minor.html 新資料夾/surgical/tc/cause_children.html 新資料夾/surgical/tc/contact.html 新資料夾/surgical/tc/index.html 新資料夾/surgical/tc/intro.html 新資料夾/surgical/tc/faq.html
