<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hong Kong Surgical Centre</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: repeat;
	background-color: #ffffff;
}
-->
</style>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" background="" style="background-position:center; background-position:top;background-repeat:no-repeat"><div align="center">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top"><div align="center"><img src="v05-contact.jpg" width="1000" height="804" border="0" usemap="#Map" />
              <map name="Map" id="Map">
                <area shape="rect" coords="15,290,143,317" href="index.html" />
                <area shape="rect" coords="153,292,284,318" href="reasons.html" />
                <area shape="rect" coords="296,291,423,318" href="procedures.html" />
                <area shape="rect" coords="436,290,557,316" href="minor.html" />
                <area shape="rect" coords="578,288,698,313" href="faq.html" />
                <area shape="rect" coords="712,288,847,319" href="ref.html" />
                <area shape="rect" coords="856,289,988,319" href="contact.html" />
              </map>
          </div></td>
        </tr>
      </table>
    </div></td>
  </tr>
</table>
</body>
</html>
