.bl {
	color: #3999B2;
}
.g {
	color: #99CC00;
}
.t{
	color: #3999B2;
	font-size:15px;
}
.tt{
	color: #99CC00;
	font-size:13px;
}

.title{
	color: #769c00;
	font-size:15px;
	font-weight:bold;
}

.btype{
font-size:15px;
font-weight:bold;
color:#99CC00


}